.hashtag {
  padding: 125px 0;
  }
  .hashtag__title {
    color: $headerBg;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    }