body {
  min-width: 800px;
  background: $bodyBg;
  color: $bodyColor;
  font-family: $fontFamilyMain;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;

  &:after {
    clear: both;
    display: block;
    height: 0;
    content: '';
  }
}