@import url(vendor/video-js/video-js.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 1280px;
  background: #000;
  color: #fff;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif; }

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto; }
  .container:after {
    clear: both;
    display: block;
    height: 0;
    content: ''; }

.header {
  background: #fffc00;
  color: #2e3379; }
  .header .container {
    padding: 12px 0 15px;
    min-height: 63px; }

.header__logo {
  float: left;
  margin: 0 0 0 27px;
  overflow: hidden;
  width: 211px;
  height: 65px;
  background: url(../img/nerdtv-logo.svg) 0 0/100% no-repeat;
  font-size: 0;
  text-indent: 100%; }

.header__slogan {
  float: right;
  margin: 10px 65px 0 0;
  font-size: 18px;
  line-height: 22px; }

.video-section {
  min-height: 500px; }

#video-player {
  position: relative;
  z-index: 2; }

.video-section__placeholder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vjs-default-skin .vjs-progress-control {
  display: none; }

.vjs-default-skin .vjs-big-play-button {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.schedule-item {
  margin: 7px 0;
  background: #2e3379; }
  .schedule-item .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    min-height: 288px; }

.schedule-item__col1 {
  position: relative;
  width: 20%;
  min-width: 260px; }

.schedule-item__col2 {
  width: 24%;
  min-width: 310px; }

.schedule-item__col2,
.schedule-item__col3 {
  border-left: 1px solid #000; }

.schedule-item__logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .schedule-item__logo:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    content: ''; }
  .schedule-item__logo._millioner {
    background: #6b2b90; }
    .schedule-item__logo._millioner:before {
      width: 171px;
      height: 167px;
      background-image: url(../img/logo-millioner.svg); }
  .schedule-item__logo._vsedoma {
    background: #bed62f; }
    .schedule-item__logo._vsedoma:before {
      width: 146px;
      height: 115px;
      background-image: url(../img/logo-vsedoma.svg); }
  .schedule-item__logo._melody {
    background: #2c3393; }
    .schedule-item__logo._melody:before {
      width: 205px;
      height: 160px;
      background-image: url(../img/logo-melody.svg); }
  .schedule-item__logo._ntv {
    background: #c02659; }
    .schedule-item__logo._ntv:before {
      width: 146px;
      height: 102px;
      background-image: url(../img/logo-ntv.svg); }
  .schedule-item__logo._svoya {
    background: #595d74; }
    .schedule-item__logo._svoya:before {
      width: 172px;
      height: 88px;
      background-image: url(../img/logo-svoya.svg); }

.title {
  position: relative;
  padding: 40px 25px 35px 32px; }

.title__text {
  margin: 0 0 55px;
  min-height: 115px;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px; }

.title__time {
  font-size: 14px;
  line-height: 22px; }
  .title__time strong {
    display: block;
    font-size: 18px;
    font-weight: 600; }

.description {
  padding: 40px 80px 38px 42px; }

.description__photo {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 0 50px 15px 0;
  width: 146px;
  height: 146px; }
  .description__photo img {
    position: absolute;
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    margin: auto; }

.description__leading {
  clear: left;
  float: left;
  margin: 0 50px 0 0;
  width: 146px;
  font-size: 14px;
  line-height: 22px; }
  .description__leading strong {
    display: block;
    font-size: 20px;
    font-weight: 600; }

.description__text {
  color: #b2b3e8;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px; }

.hashtag {
  padding: 125px 0; }

.hashtag__title {
  color: #fffc00;
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase; }

.photos {
  background: #fff; }

.photos__wrapper {
  overflow-x: auto;
  padding: 10px 20px; }

/*# sourceMappingURL=main.css.map */
