@import "common/variables";

@import "common/reset";

@import "common/fonts";

@import "vendor/video-js/video-js.css";

@import "layout";
@import "header";
@import "schedule";
@import "hashtag";
@import "photos";



.vjs-default-skin .vjs-progress-control {
  display: none;
}
.vjs-default-skin .vjs-big-play-button {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}