$headerBg: #fffc00;
$headerColor: #2e3379;

$bodyBg: #000;
$bodyColor: #fff;

$scheduleBg: #2e3379;
$scheduleColor: #b2b3e8;

$photosBg: #fff;

$fontFamilyMain: 'Proxima Nova', 'Open Sans', Helvetica, Arial, sans-serif;

